#######################################
# PostgreSQL
#######################################
/postgre/

#######################################
# IDE
#######################################
.idea/

#######################################
# Others
#######################################
*.DS_Store
